body {
  background: #333;
  display: flex;
  font-family: Helvetica Neue;
}

h1 {
  font-size: 2em;
  color: #eee;
  display: inline-block;
}

a {
  color: white;
}

p {
  margin-top: 1em;
  color: #aaa;
}

.card {
  background: black;
  width: 50px;
  text-align: center;
  padding: 2px;
}
.card p {
  color: #fff;
  font-size: 2em;
  margin: 0;
}
